[url "git@github.com:"]
  insteadOf = https://github.com/

[include]
  path = ~/.config/git/internal-sites

[user]
	email = joshrosso@gmail.com
	name = joshrosso

[code]
	editor = vim
[core]
	excludesfile = /home/josh/.gitignore_global
[commit]
