*.foreground: #F8F8F2
*.background: #121212
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

*depth:                 32
Xcursor.size:           16

*utf8:                  1
*saveLines:             999999

!-- Xft settings -- !
!Xft.dpi:        130,
Xft.rgba:       rgb
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1

!! fonts
!! antialias and autohint is enabled to improve crispness
!! if using a terminal like st, the libxft-bgra[0] package may be required
!! [0]: https://aur.archlinux.org/packages/libxft-bgra
*.font: Hack:pixelsize=24:antialias=true:autohint=true

*faceSize:              10
*bellIsUrgent:          true

!! scrollbar
*scrollBar:             false
